.sider {
  height: 100vh;
  background-color: var(--sider-bg);
  width: 240px;
  color: var(--sider-color);
  font-size: 1.6rem;

  .sider__item {
    cursor: pointer;
    min-height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--sider-bg);

    .sider__icon {
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .sider__title {
      flex: 1;
      word-break: break-all;
    }
    &:hover {
      border-bottom: 1px solid var(--sider-hover);
      background-color: var(--sider-bg-active);
    }
  }
  .sider__items {
    .sider__list {
      display: none;
      transform: translateY(-20px);
      animation: siderDown 0.3s ease-out forwards;
      opacity: 0;
      &.sider__list--show {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@keyframes siderDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
