.sider {
  height: 100vh;
  background-color: var(--sider-bg);
  width: 240px;
  color: var(--sider-color);
  font-size: 1.6rem;

  .sider__item {
    cursor: pointer;
    min-height: 4rem;
    display: flex;
    align-items: center;

    .sider__icon {
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .sider__title {
      flex: 1;
      word-break: break-all;
      margin-left: 1rem;
    }
  }
  .sider__items {
    .sider__list {
      display: none;
      .sider__item {
        transform: translateY(-20px);
        animation: slideDown 0.5s ease-out forwards;
      }
      &.sider__list--show {
        display: block;
        .sider__item {
          display: flex;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
