:root {
  --primary: '#0909DB';
  --placeholder: #b9b6b6;
  --bg: #fff;

  --header-bg: #f9f9f9;

  --sider-bg: #001529;
  --sider-color: #f8f8f8;
  --sider-hover: #f8f8f8;
  --sider-bg-active: #1677ff;
  --siedr-scrollbar-thumb: #888;
  --siedr-scrollbar-thumb-hover: #555;
  --sider-scrollbar-track: #f1f1f1;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--bg);
}

.ant-input::placeholder {
  color: var(--placeholder);
}
