:root {
  --primary: '#0909DB';
  --placeholder: #f8f8f8;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.ant-input::placeholder {
  color: var(--placeholder);
}
